.skills,
.projects__cards {
  display: grid;
}

.skills {
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 3.62rem;
}

.projects__cards {
  grid-template-columns: 1fr 1fr;
  row-gap: 4.31rem;
  column-gap: 1.5rem;
}

/* Targets Tablet Sizes */
@media (max-width: 48rem) {
  .skills {
    grid-template-columns: 1fr 1fr;
    row-gap: 3.25rem;
  }

  .projects__cards {
    column-gap: 1.3rem;
    row-gap: 3.88rem;
  }
}

/* Targets Mobile Sizes */
@media (max-width: 23.4375rem) {
  .skills {
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
  }

  .projects__cards {
    grid-template-columns: 1fr;
    row-gap: 2.63rem;
  }
}
