*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  font: inherit;
  color: inherit;
}

button {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

/* 
input & textarea have display properties of "inline"; setting display to inline-block gives us
the benefits of block-level elements while being an inline block.
*/
input,
textarea {
  all: unset;
  display: inline-block;
  width: 100%;
}
