*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  font: inherit;
  color: inherit;
}

button {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

input,
textarea {
  all: unset;
}
