<nav class="navbar">
  <article class="navbar__content">
    <div class="navbar__logo"></div>
    <ul class="navbar__links">
      <li>
        <a
          href="https://github.com/nullghostty"
          target="_blank"
          class="navbar__link"
          ><img src="./assets/images/icon-github.svg" alt="GitHub"
        /></a>
      </li>
      <li>
        <a
          href="https://www.frontendmentor.io/profile/nullghostty"
          target="_blank"
          class="navbar__link"
          ><img
            src="./assets/images/icon-frontend-mentor.svg"
            alt="Frontend Mentor"
        /></a>
      </li>
      <li>
        <a href="#" class="navbar__link"
          ><img src="./assets/images/icon-linkedin.svg" alt="LinkedIn"
        /></a>
      </li>
      <li>
        <a href="https://x.com/nullghostty" target="_blank" class="navbar__link"
          ><img src="./assets/images/icon-twitter.svg" alt="Twitter"
        /></a>
      </li>
    </ul>
  </article>
</nav>
