// Variables for reusability
$tablet: 768px;
$desktop: 1024px;
$gap-small: 1rem;
$gap-medium: 1.25rem;
$gap-large: 2rem;
$margin-mobile: 1.25rem;
$margin-tablet: 1.81rem;
$margin-desktop: 2.44rem;
$padding-horizontal: 2rem;

// Mixin for flex centering
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar,
.navbar__content,
.navbar__links {
  @include flex-center;
}

.navbar {
  // border: 1px solid white;
}

.navbar__content {
  margin: $margin-mobile;
  flex-direction: column;
  // border: 1px solid white;
  gap: $gap-medium;
}

.navbar__links {
  gap: $gap-large;
}

/* targets tablet viewport width */
@media (min-width: $tablet) {
  .navbar {
  }

  .navbar__content {
    flex-direction: row;
    justify-content: space-between;
    width: 69.375rem;
    margin: $margin-tablet;
  }

  .navbar__links {
  }
}

/* targets desktop viewport width */
@media (min-width: $desktop) {
  .navbar__content {
    margin: $margin-desktop;
  }
}
